USE [QLKHO]
GO
/****** Object:  StoredProcedure [dbo].[SanPham_Xoa]    Script Date: 08/10/2016 18:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SanPham_Xoa] @MASP CHAR(12)
AS
BEGIN
	IF NOT EXISTS (SELECT MASP FROM SANPHAM WHERE MASP=@MASP)
	BEGIN
		RAISERROR(N'Sản phẩm này không tồn tại',16,1)
		RETURN
	END
	ELSE
	BEGIN
		DELETE FROM SANPHAM WHERE MASP=@MASP
	END
END
GO
