USE [QLKHO]
GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_THEM]    Script Date: 08/10/2016 18:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SANPHAM_THEM] @MASP CHAR(12), @TENSP NVARCHAR(50), @QUICACH NVARCHAR(20),@DONGIA INT, @MALOAI CHAR(6)
AS
begin

		IF EXISTS (SELECT * FROM SANPHAM WHERE MASP=@MASP AND TENSP=@TENSP)
			begin
				RAISERROR(N'Sản phẩm này đã có!',16,1) 
				RETURN -1
			end
		
		else
		
			BEGIN
				INSERT INTO SANPHAM(MASP,TENSP,QUICACH,DONGIA,MALOAI) 
				VALUES(@MASP,@TENSP,@QUICACH, @DONGIA,@MALOAI)	
			END
end
GO
