USE [QLKHO]
GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOIDUNG_THEM]    Script Date: 02/24/2018 17:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_NGUOIDUNG_THEM] @TENDN VARCHAR(32), @MATKHAU VARCHAR(32), @ADMIN BIT, @THEM BIT, @XOA BIT, @SUA BIT
AS
	BEGIN
		IF EXISTS (SELECT * FROM NGUOIDUNG WHERE TENDANGNHAP=@TENDN)
			BEGIN
				RAISERROR(N'Tên đăng nhập đã tồn tại', 16, 1)
				RETURN
			END
		ELSE
			INSERT INTO NGUOIDUNG VALUES(@TENDN, @MATKHAU, @ADMIN, @THEM, @XOA, @SUA)		
	END