USE [master]
GO
/****** Object:  Database [QLKHO]    Script Date: 02/12/2018 21:06:07 ******/
CREATE DATABASE [QLKHO] ON  PRIMARY 
( NAME = N'QLKHO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLKHO.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKHO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLKHO_1.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKHO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKHO]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 02/12/2018 21:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TENDANGNHAP] [varchar](32) NOT NULL,
	[MATKHAU] [varchar](32) NULL,
	[QUYENADMIN] [bit] NULL,
	[QUYENTHEM] [bit] NULL,
	[QUYENXOA] [bit] NULL,
	[QUYENSUA] [bit] NULL,
	[QUYENXEM] [bit] NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUANHUYEN]    Script Date: 02/12/2018 21:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANHUYEN](
	[MAHUYEN] [varchar](14) NOT NULL,
	[TENHUYEN] [nvarchar](30) NULL,
 CONSTRAINT [pk_QuanHuyen_MaHuyen] PRIMARY KEY CLUSTERED 
(
	[MAHUYEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 02/12/2018 21:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[SOPX] [varchar](14) NOT NULL,
	[NGAYXUAT] [datetime] NULL,
	[HOTENKH] [nvarchar](30) NULL,
 CONSTRAINT [PK_PHIEUXUAT_SOPX] PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 02/12/2018 21:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](40) NULL,
 CONSTRAINT [PK_LOAISANPHAM_MALOAI] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 02/12/2018 21:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [varchar](5) NOT NULL,
	[TENCV] [nvarchar](30) NULL,
 CONSTRAINT [PK_CHUCVU_MACV] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANKHO]    Script Date: 02/12/2018 21:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANKHO](
	[MAKHO] [varchar](14) NOT NULL,
	[TENKHO] [nvarchar](24) NULL,
 CONSTRAINT [pk_tenkho] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 02/12/2018 21:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](14) NOT NULL,
	[HOTENNV] [nvarchar](30) NULL,
	[DIENTHOAINV] [varchar](14) NULL,
	[MACV] [varchar](5) NULL,
	[NGAYVAOLAM] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN_MANV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 02/12/2018 21:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](14) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[QUICACH] [nvarchar](20) NULL,
	[MALOAI] [varchar](10) NULL,
	[MAKHO] [varchar](14) NULL,
 CONSTRAINT [PK_SANPHAM_MASP] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINHTHANH]    Script Date: 02/12/2018 21:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINHTHANH](
	[MATINH] [varchar](14) NOT NULL,
	[MAHUYEN] [varchar](14) NOT NULL,
	[TENTINH] [nvarchar](30) NULL,
 CONSTRAINT [pk_TinhThanh_MaTinh] PRIMARY KEY CLUSTERED 
(
	[MATINH] ASC,
	[MAHUYEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[LoaiSanPham_Xoa]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoaiSanPham_Xoa] @maloai char(12)
as
begin
	if not exists (select MALOAI from LOAISANPHAM where MALOAI=@maloai)
	begin
		raiserror(N'Sản phẩm này không có!', 16, 1)
		return -1 
	end
	else
	begin
		delete from LOAISANPHAM where MALOAI=@maloai
	end
end
GO
/****** Object:  StoredProcedure [dbo].[LoaiSanPham_SUA]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoaiSanPham_SUA] @maloai char(12), @tenloai nvarchar(40)
as
	begin
		if not exists (select MALOAI from LOAISANPHAM where MALOAI=@maloai)
		begin
			print N'Loại sản phẩm không tồn tại'
			return -1 
		end
		if exists(select * from LOAISANPHAM where TENLOAI=@tenloai)
		begin
			print N'Sản phẩm sửa đổi có giá trị như cũ'
			return -1 
		end
		update LOAISANPHAM 
		set TENLOAI=@tenloai 
		where MALOAI=@maloai
		return 0
	end
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TONKHO](
	[NAMTHANG] [char](6) NOT NULL,
	[MASP] [varchar](14) NOT NULL,
	[SLDAU] [float] NULL,
	[TONGSLNHAP] [float] NULL,
	[TONGSLXUAT] [float] NULL,
	[SLCUOI]  AS (([SLDAU]+[TONGSLNHAP])-[TONGSLXUAT]),
	[MAKHO] [varchar](14) NULL,
 CONSTRAINT [PK_TONKHO_NAMTHANG_MASP] PRIMARY KEY CLUSTERED 
(
	[NAMTHANG] ASC,
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SanPham_Xoa]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SanPham_Xoa] @MASP CHAR(12)
AS
BEGIN
	IF NOT EXISTS (SELECT MASP FROM SANPHAM WHERE MASP=@MASP)
	BEGIN
		RAISERROR(N'Sản phẩm này không tồn tại',16,1)
		RETURN
	END
	ELSE
	BEGIN
		DELETE FROM SANPHAM WHERE MASP=@MASP
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_THEM]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SANPHAM_THEM] @MASP CHAR(12), @TENSP NVARCHAR(50), @QUICACH NVARCHAR(20),@DONGIA INT, @MALOAI CHAR(6)
AS
begin

		IF EXISTS (SELECT * FROM SANPHAM WHERE MASP=@MASP AND TENSP=@TENSP)
			begin
				RAISERROR(N'Sản phẩm này đã có!',16,1) 
				RETURN -1
			end
		
		else
		
			BEGIN
				INSERT INTO SANPHAM(MASP,TENSP,QUICACH,DONGIA,MALOAI) 
				VALUES(@MASP,@TENSP,@QUICACH, @DONGIA,@MALOAI)	
			END
end
GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SUA]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SANPHAM_SUA]  @MASP CHAR(12), @TENSP NVARCHAR(50),@QUICACH NVARCHAR(20),@DONGIA INT, @MALOAI CHAR(6)
AS
BEGIN
	IF NOT EXISTS (SELECT MASP FROM SANPHAM WHERE MASP=@MASP)
	BEGIN
		RAISERROR(N'sản phẩm không tồn tại',16,1)
		RETURN -1
	END
	ELSE IF EXISTS (SELECT * FROM SANPHAM WHERE TENSP=@TENSP AND DONGIA=@DONGIA 
					AND QUICACH=@QUICACH AND MALOAI=@MALOAI)
	BEGIN
		RAISERROR(N'Sản phẩm sửa đổi có giá trị như cũ',16,1)
		RETURN -1
		END
	ELSE
		UPDATE SANPHAM 
		SET TENSP=@TENSP, DONGIA=@DONGIA, QUICACH=@QUICACH, MALOAI=@MALOAI
		WHERE MASP=@MASP
RETURN 0
END
GO
/****** Object:  Table [dbo].[CTPHIEUXUAT]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHIEUXUAT](
	[SOPX] [varchar](14) NOT NULL,
	[MASP] [varchar](14) NOT NULL,
	[SLXUAT] [int] NULL,
	[DONGIAXUAT] [money] NULL,
 CONSTRAINT [PK_CTPHIEUXUAT_SOPX] PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](20) NOT NULL,
	[MAHUYEN] [varchar](14) NULL,
	[MATINH] [varchar](14) NULL,
	[MANV] [varchar](14) NULL,
	[HOTENKH] [nvarchar](30) NULL,
	[DIENTHOAIKH] [varchar](14) NULL,
	[DIACHIKH] [nvarchar](100) NULL,
 CONSTRAINT [PK_KHACHHANG_MAKH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADDH] [varchar](14) NOT NULL,
	[MAKH] [varchar](20) NULL,
	[NGAYDAT] [datetime] NULL,
 CONSTRAINT [PK_DONDATHANG_MADDH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTDONDATHANG]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDONDATHANG](
	[MADDH] [varchar](14) NOT NULL,
	[MASP] [varchar](14) NOT NULL,
	[SOLUONGDAT] [int] NULL,
	[SLKHUYENMAI] [int] NULL,
 CONSTRAINT [PK_CTDONDATHANG_MADDH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SOPN] [varchar](14) NOT NULL,
	[MADDH] [varchar](14) NULL,
	[NGAYNHAP] [datetime] NULL,
	[LYDO] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEUNHAP_SOPN] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 02/12/2018 21:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[SOPN] [varchar](14) NOT NULL,
	[MASP] [varchar](14) NOT NULL,
	[SLNHAP] [float] NULL,
	[DONGIANHAP] [money] NULL,
 CONSTRAINT [PK_CTPHIEUNHAP_SOPN] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [fk_nhanvien_chucvu]    Script Date: 02/12/2018 21:06:09 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_nhanvien_chucvu] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_nhanvien_chucvu]
GO
/****** Object:  ForeignKey [FK__SANPHAM__MAKHO__2A4B4B5E]    Script Date: 02/12/2018 21:06:09 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__SANPHAM__MAKHO__2A4B4B5E] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[PHANKHO] ([MAKHO])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK__SANPHAM__MAKHO__2A4B4B5E]
GO
/****** Object:  ForeignKey [fk_sanpham_loaisanpham]    Script Date: 02/12/2018 21:06:09 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_sanpham_loaisanpham] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_sanpham_loaisanpham]
GO
/****** Object:  ForeignKey [fk_tinhthanh_quanhuyen]    Script Date: 02/12/2018 21:06:09 ******/
ALTER TABLE [dbo].[TINHTHANH]  WITH CHECK ADD  CONSTRAINT [fk_tinhthanh_quanhuyen] FOREIGN KEY([MAHUYEN])
REFERENCES [dbo].[QUANHUYEN] ([MAHUYEN])
GO
ALTER TABLE [dbo].[TINHTHANH] CHECK CONSTRAINT [fk_tinhthanh_quanhuyen]
GO
/****** Object:  ForeignKey [FK__TONKHO__MAKHO__2B3F6F97]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [FK__TONKHO__MAKHO__2B3F6F97] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[PHANKHO] ([MAKHO])
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [FK__TONKHO__MAKHO__2B3F6F97]
GO
/****** Object:  ForeignKey [fk_tonkho_sanpham]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [fk_tonkho_sanpham] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [fk_tonkho_sanpham]
GO
/****** Object:  ForeignKey [fk_ctphieuxuat_phieuxuat]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[CTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [fk_ctphieuxuat_phieuxuat] FOREIGN KEY([SOPX])
REFERENCES [dbo].[PHIEUXUAT] ([SOPX])
GO
ALTER TABLE [dbo].[CTPHIEUXUAT] CHECK CONSTRAINT [fk_ctphieuxuat_phieuxuat]
GO
/****** Object:  ForeignKey [fk_ctphieuxuat_sanpham]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[CTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [fk_ctphieuxuat_sanpham] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTPHIEUXUAT] CHECK CONSTRAINT [fk_ctphieuxuat_sanpham]
GO
/****** Object:  ForeignKey [fk_khachhang_nhanvien]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [fk_khachhang_nhanvien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [fk_khachhang_nhanvien]
GO
/****** Object:  ForeignKey [fk_khachhang_quanhuyen]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [fk_khachhang_quanhuyen] FOREIGN KEY([MAHUYEN])
REFERENCES [dbo].[QUANHUYEN] ([MAHUYEN])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [fk_khachhang_quanhuyen]
GO
/****** Object:  ForeignKey [fk_dondathang_khachhang]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [fk_dondathang_khachhang] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [fk_dondathang_khachhang]
GO
/****** Object:  ForeignKey [fk_ctdondathang_dondathang]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[CTDONDATHANG]  WITH CHECK ADD  CONSTRAINT [fk_ctdondathang_dondathang] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
GO
ALTER TABLE [dbo].[CTDONDATHANG] CHECK CONSTRAINT [fk_ctdondathang_dondathang]
GO
/****** Object:  ForeignKey [fk_ctdondathang_sanpham]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[CTDONDATHANG]  WITH CHECK ADD  CONSTRAINT [fk_ctdondathang_sanpham] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTDONDATHANG] CHECK CONSTRAINT [fk_ctdondathang_sanpham]
GO
/****** Object:  ForeignKey [fk_phieunhap_dondathang]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_phieunhap_dondathang] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [fk_phieunhap_dondathang]
GO
/****** Object:  ForeignKey [fk_ctphieunhap_phieunhap]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_ctphieunhap_phieunhap] FOREIGN KEY([SOPN])
REFERENCES [dbo].[PHIEUNHAP] ([SOPN])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [fk_ctphieunhap_phieunhap]
GO
/****** Object:  ForeignKey [fk_ctphieunhap_sanpham]    Script Date: 02/12/2018 21:06:11 ******/
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_ctphieunhap_sanpham] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [fk_ctphieunhap_sanpham]
GO
